@model IEnumerable<WoMU_lab1.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Search for OrderId: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
   
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderFName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderSName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderEmail)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderEmail)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                </td>
            </tr>
        }
    </table>
