@model IEnumerable<WoMU_lab1.Models.Article>

@{
    ViewBag.Title = "Index";
    var cart = WoMU_lab1.Models.ShoppingCart.GetCart(this.Context);
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>
<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticlePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleInStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var a = cart.GetCartItems();
    <tr>
        <td>
            @Html.ActionLink(item.ArticleName, "Details", new { id = item.ArticleId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticlePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleInStock)
        </td>

            @if (item.ArticleInStock > 0 && (!a.Any(art => art.ArticleId == item.ArticleId) || (item.ArticleInStock - a.Where(c => c.ArticleId == item.ArticleId).Single().Count) > 0))
            {
            <td>
                <a href="/ShoppingCart/AddToCart/@item.ArticleId" class="AddLink">
                    Add
                    to cart
                </a>
            </td>
            }
    </tr>
}

</table>
