@model WoMS_lab1.Models.OrderLine
<tr>
    <td style="width: 100px;">@Model.Product.ProductID</td>
    <td style="width: 100px;">@Model.Product.Name</td>
    <td style="width: 300px;">@Model.Product.Description</td>
    <td style="width: 100px;">@Model.Product.Price kr</td>
    <td style="width: 100px;">@Model.Quantity</td>
</tr>
